*{
    margin: 0;
    font-family: arial;
    border :border-box;
    background-color: #FBB517;
}
/* nav-bar */
.nav-bar{
    width: 1150px;
    height: 100px;
    background-color: #FFE600;
color: black;
 margin-left: 40px;
 margin-top: 35px;
 align-content: center;
}
.logo{
height: 95px;
width: 95px;
background-color: #FFE600;
background-image: url("logo-lays.png");
background-size: cover;
margin-left: 30px;
margin-top: -20px;
}
a{  
    font-style:Helvetica;
    background-color: #FFE600;
    text-decoration: none;
    color: black;
 
}

.ho:hover{ 
       
       color: blanchedalmond;
       border-radius: 10%;
       background-color: red;

}
.nav-search{
    background-color: #FFE600;
}
.nav-it{
    display:flex;
    justify-content: space-evenly;
    font-size: 17px;
margin-left: 300px;
margin-top: -60px;
background-color: #FFE600;
}
/* hero-section */
.hero-section{
    width: 1150px;
    height: 3000px;
    margin-left: 40px;
    margin-top: 20px;
}
.heroimage{
    height:420px;
    width: 1150px;
    background-image: url("hero1.jpg");
    background-size: cover;
}
 /* second box */
.grid{
     width: 1145px;
     margin-top: 20px;
    color: antiquewhite;
    font-size: 90px;
    height:685px;
    background-image: url("hero-2.webp");
    background-size: cover;
}
.green{
    height: 304px;
    width: 304px;
    margin-left: 80px;
    margin-top:60px;
    background-image: url("green.png");
    background-size: cover;
}
.blue{
    height: 304px;
    width: 304px;
    background-image: url("blue.png");
    margin-left:383px;
    margin-top: -465px;
    background-size: cover;
} 
.orange{
    height: 304px;
    width: 304px;
    background-image: url("orange.png");
    margin-left:688px;
    margin-top: -465px;
    background-size: cover;
} 
.items{
    width: 304px;
    height: 160px;
    font-size:30px;
    text-align:left;
    background-color: darkgreen;
    margin-left: 80px;

}
.items1{
    width: 304px;
    height: 160px;
    font-size:30px;
    text-align:left;
    background-color: skyblue;
    margin-left: 384px;

}
.items2{
    width: 304px;
    height: 160px;
    font-size:30px;
    text-align:left;
    background-color:orange;
    margin-left:688px;
 
}
.view{
    margin-top: 90px;
    width: 100px;
    margin-left: 20px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    background-color: red;
    border-radius: 20px;
    color: antiquewhite;
}
.view1{
    margin-top: 45px;
    width: 100px;
    margin-left: 20px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    background-color: red;
    border-radius: 20px;
    color: antiquewhite;
}
.view2{
    margin-top: 80px;
    width: 100px;
    margin-left: 20px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    background-color: red;
    border-radius: 20px;
    color: antiquewhite;
}
 /* thirdbox */
 .grid2{
    height: 670px;
    width: 1145px;
    color:white;
    font-size: 90px;
    margin-top: 20px;
    background-image: url("grid2.jpg");
    background-size: cover;
 }
 .choco{
    width: 294px;
    height:300px;
    background-image: url("choco.png");
    background-size: cover;
    margin-left: 70px;
    margin-top: 40px;
 }

.item{
    width: 294px;
    height:154px;
    font-size: 22px;
    margin-left: 70px;
    color: black;
    text-align: center;
    background-color: #F6BE07;
}
.view3{
    margin-top: 55px;
    width: 150px;
    margin-left: 25px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: red;
    border-radius: 20px;
    color: antiquewhite;
}
.paneer{
    width: 294px;
    height:300px;
    background-image: url("paneer.png");
    background-size: cover;
    margin-left: 405px;
    margin-top: -455px;

}
.item1{
    width: 294px;
    height:154px;
    font-size: 30px;
    margin-left: 400px;
    color: black;
    text-align: center;
    background-color: #F6BE07;
}
.view4{
    margin-top: 37px;
    width: 150px;
    margin-left: 25px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: red;
    border-radius: 20px;
    color: antiquewhite;
}
.burger{
    width: 294px;
    height:300px;
    background-image: url("burger.jpg");
    background-size: cover;
    margin-left: 735px;
    margin-top: -455px;

}
.item2{
    width: 294px;
    height:154px;
    font-size: 23px;
    margin-left: 735px;
    color: black;
    text-align: center;
    background-color: #F6BE07;
}
.view5{
    margin-top: 50px;
    width: 150px;
    margin-left: 25px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: red;
    border-radius: 20px;
    color: antiquewhite;
}
/* third box */
.grid3{
    height: 590px;
    width: 1145px;
    color:white;
    background-image: url("dg.jpg");
    background-size: cover;
    font-size: 0px;
    margin-top: 20px;
}
.video{
    margin-top: 100px;
    font-size: 50px;
    width: 10px;
    height: 10px;
}
.text{
    margin-left: 800px;
    margin-top: -400px;
    font-size: 5.5rem;
}
/* footer */
.footer{
    width: 1145px;
    height: 180px;
    margin-top: 25px;
    background-image: url("footer.jpg");
}
.content{
    width: 1145px;
    height: 80px;
    color: aliceblue;
    margin-top: 80px;
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;
}
.a1{
    font-style:Helvetica;
    text-decoration: none;
    color: black;
    background-color: #FBB517;
 
}
.ho1:hover{
    color: blanchedalmond;
    background-color: red;
    height: 25px;
}
.logo1{
    height: 95px;
width: 95px;
background-color: #FBB517;
background-image: url("logo-lays.png");
background-size: cover;
margin-left: 500px;

}
.copyright{
    margin-left: 350px;
    margin-top: 20px;
}
.fb{
    height: 90px;
    width: 90px;
    background-image: url("icon-facebook.png");
    background-size: cover;
    margin-left: 500px;
    margin-top: -140px;
    background-color: white;
    border-radius: 50%;

}
.tw{
    height: 90px;
    width: 90px;
    background-image: url("icon-twitter.png");
    background-size: cover;
    margin-left: 645px;
    margin-top:-93px;
    background-color: white;
    border-radius: 50%;
}
.yt{
    height: 90px;
    width: 90px;
    background-image: url("icon-youtube.png");
    background-size: cover;
    margin-left: 785px;
    margin-top:-90px;
    background-color: white;
    border-radius: 50%;
}
.insta{
    height: 90px;
    width: 90px;
    background-image: url("icon-instagram.png");
    background-size: cover;
    margin-left: 935px;
    margin-top:-90px;
    background-color: white;
    border-radius: 50%;
}

/* THE END */
